.root {
  padding: 1.5rem;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.course-table {
  max-width: 800px;
  margin: auto;
}

.action-holder {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem 0;
  > .clear-button {
    margin-right: 1rem;
  }
}