.root {
  width: 300px;
  padding: 1rem;
  > .text {
    /* padding-right: 1.5rem; */
    color: #aaa;
    font-style: italic;
    text-align: center;
  }
}

.course-item {
  display: inline-block;
}

.section-item {
  display: flex;

  > .check-box {
  }
  > .section-content {
    font-size: 0.8rem;
    flex: 1;
    
    > div > .section-no {
      display: inline-block;
      font-size: 0.8rem;
      margin-right: 1rem;
      line-height: 100%;
    }

    > .tags {
      float: right;
    }
  }
}