@import '../variables.css';

:root {
  --light-color: rgba(112, 128, 144, 0.2);
  --dark-color: #f2f2f2;
}

.root {
  position: relative;
}

.fix-aspect {
  padding-bottom: 66.666%;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.content {
  height: 100%;
  width: 100%;
}*/

.day {
  font-size: 60%;
  height: calc(100% / 6);
  &-label {
    width: 2rem;
    height: 100%;
    text-align: center;
    @media (--small-sm) {
      border: 1px solid var(--light-color);
      padding: 0.5em;
      &:before { content: none; }
    }
  }
  > .time-wrapper {
    height: 100%;
    flex: 1;
    position: relative;
  }
}

.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid var(--dark-color);
  font-size: 1rem;
  line-height: 1.5;

  &-header {
    display: none;
    font-weight: 700;
    background-color: var(--dark-color);
  }
  &-row {
    display: flex;
    flex-flow: row nowrap;
    &:nth-of-type(even) { background-color: var(--light-color); }
    &:nth-of-type(odd) { background-color: var(--dark-color); }
    &-item {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      word-break: break-word;
      border: 1px solid var(--light-color);
      padding: 0.5em;
    }
  }
}
