@import '../variables.css';

.root {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;

  &.expanded-left {
    margin-left: var(--sidebar-width);
  }

  &.expanded-right {
    margin-right: var(--search-width);
  }
}

.scroll {
  position: relative;
  overflow: hidden;
}