@import '../../components/variables.css';

.root {
  padding: 1.25rem;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;

  width: 100%;
  lost-utility: clearfix;
}

.container > .wrap > .item {
  color: inherit;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 196px;
  word-wrap: break-word;
  
  width: 100%;
  @media (--small-xs) {
    lost-column: 1/2;
  }
  @media (--small-sm) {
    lost-column: 1/3;
  }
  @media (--small-md) {
    lost-column: 1/3;
  }
  @media (--small-lg) {
    lost-column: 1/4;
  }
}

.container > .wrap > .add-course-table {
  .add-course-root {
    position: relative;
  }
  .fix-aspect {
    padding-bottom: 66.666%;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px dashed #ddd;
    border-radius: 5px;

    color: #ddd;
  }
}

.newsItem {
  margin: 0 0 2rem;
}

.newsTitle {
  font-size: 1.5rem;
}

.newsDesc {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.125rem;
  }

  pre {
    white-space: pre-wrap;
    font-size: 0.875rem;
  }

  img {
    max-width: 100%;
  }
}

.publishedDate {
  font-size: 0.8em;
  color: #777;
}

.name {
  color: #aaa;
  text-align: center;
  font-weight: 700;
  margin-top: 0.4rem;
}

.loading {
  height: 100%;
  width: 100%;
  text-align: center;
}